/* DEFINE AS VARIÁVEIS DE FONTE, UTILIZANDO O CLAMP PARA DEIXÁ-LAS RESPONSIVAS */
:root{
    --font-titulo: clamp(1.5rem, 5vw + 0.1rem, 2.5rem);
    --font-tit-pag: clamp(1rem, 3vw + 0.1rem, 1.7rem);
    --font-texto: clamp(0.6rem, 2vw + 0.1rem, 1rem);
    --font-link: clamp(0.8rem, 2vw + 0.1rem, 1.5rem);
    --text-box-wid: clamp(16rem, 20vw + 0.1rem, 40rem);
}
/* DEFINE A FONTE PARA TODO O PROJETO */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* DEFINE OS ESTILOS DO CORPO DA PÁGINA */
body{
    background-image: linear-gradient(to right, rgb(13, 111, 168), rgb(93, 32, 163));
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

/* ALTERA O ESTILO DA BARRA DE ROLAGEM */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #1984e9;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    background: #e4cbf0;
    border-radius: 30px;
}

/* CAIXA DO TÍTULO */
.box_titulo{  
    display: flex;
    align-items: center;
    justify-content: center;  
    background-image: linear-gradient(rgb(231, 219, 219), rgb(82, 183, 223));
    font-family: 'Courier New';
    margin: -8px -8px 0 -8px;
    height: 50px;
}

/* TÍTULO DA PÁGINA */
.titulo{
    color: rgb(106, 35, 126);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: var(--font-titulo);
    margin: 0 auto;
    text-decoration: none;
}

/* CAIXA DO MENU */
.menu {
    margin: 0 -8px;
    height: 22px;
    position: relative;
    padding: 5px 20px;
    background-image: linear-gradient(rgb(252, 250, 250),rgb(46, 14, 136));
}

/* ESTILISA OS LINKS DO MENU */
.menu a{
    text-decoration: none;
    color: white; 
    font-size: var(--font-link);
    margin: 0 3% ;
}
/* CENTRALIZA OS ITENS DO MENU*/
#tab_menu{
    text-align: center;
}

/* DEFINE AS CONFIGURAÇÕES DA DIV QUE RECEBERA OS CONTEÚDOS DA PÁGINA */
.conteudo_pag{
  width: 80%;
  height:100vh;
  margin: 0 auto;  
  text-align: justify;
  overflow: auto;
  padding-right: 10px ;
}

/************************************* PÁGINA DE LOGIN ***********************************/

/* DEFINE AS CONFIGURAÇÕES DA TELA DE LOGIN */
.login {
    width: 280px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    font-size: 20px;

  }

/* ESTILO DO BOTÃO ENVIAR/CRIAR */
.btn_submit{
    border-radius: 8px;
    font-size: 15px;
}
#tab_login_rec_senha{
    margin-left: 32%;
}
#tab_login_rec_senha a{
    font-size: 15px;
    text-decoration: none;
    color: #ffff;
}
/* DIV UTILIZADA PARA CENTRALIZAR O BOTÃO DA TELA DE LOGIN */
#tab_login_btn{
    margin: 0 auto;
}

/* TEXTO DA TELA DE RECUPERAÇÃO DE SENHA*/
.paragrafo{
    font-size: var(--font-texto);
    color: #ffff;
}
/*---------------------------------------------------------------------------------------------------------*/

/******************************************** PÁGINA DE REGISTRO ******************************************/

/* ESTILO DA PÁGINA DE REGISTRO */
.form_registro{
    width: 80%;
    max-width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    font-size: 20px;  
}

/* ESTILO DO TÍTULO DA PÁGINA DE REGISTRO */
.form_registro_titulo{
    text-align: center;
    font-size: var(--font-tit-pag);

}

/* DEFINE O ESPAÇAMENTO ENTRE AS LINHAS DO FORMULÁRIO */
.form_grande{
    margin-bottom: 15px;
}
.form_grande input{
    width: 250px;
}
.form_medio{
    margin-bottom: 15px;
}
.form_medio input{
    width: 110px;
}
.form_cent_item{
    margin: 0 auto;
    font-size: var(--font-texto);
    margin-bottom: 15px;
}
.form_peq{
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: var(--font-texto);
}
.form_peq input{
    width: 40px;
}
.form_cent_text{
    font-size: var(--font-texto);
    text-align: center;
}
form textarea{
    width: var(--text-box-wid);
    resize: none;
    text-align: justify;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}    
/* CENTRALIZA O BOTÃO "CRIAR" */
#form_btnCriar{
    margin: 0 auto;
}
/*---------------------------------------------------------------------------------------------------------*/
